@inject NavigationManager Navigation

<div class="main">
    <div class="expenses-container">
        <div class="heading">
            <h1>Recent Expenses</h1>
        </div>
        <ul class="expense-cards">
            @foreach (var expense in expenses)
            {
                <li>
                    <ExpenseItem expense="expense"/>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public List<Expense> expenses { get; set; }
}
