@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using ExpenseTracker.Services
@inject ExpenseService ExpenseService

@implements IDisposable

<PageTitle>Home</PageTitle>

@if (ExpenseService.Expenses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ExpenseList expenses="ExpenseService.Expenses" />
}


@code {
    public List<Expense> expenses = new();

    protected override async Task OnInitializedAsync()
    {
        ExpenseService.OnChange += StateHasChanged;
        await ExpenseService.LoadExpensesAsync();
    }

    public void Dispose()
    {
        ExpenseService.OnChange -= StateHasChanged;
    }
    
}